@import url("css/hide-windowbutton.css");
@import url("css/nocsd.css");
@import url("css/thunar.css");
@import url("css/picom.css");
@import url("css/xfwm-tabwin.css");
@import url("css/xfpanel.css");
@import 'colors.css';


/*.nemo-places-sidebar .view {
.nemo-window .sidebar .view {
    background-color: ;#605e54
    color: #e5e5e5;
}*/


decoration,
decoration:backdrop
{
    transition: none;
}

decoration
{
    border-radius: unset;
    border-width: unset;
    margin: 6px; /* drag space */
    box-shadow:
    2px 2px 5px 2px rgba(0, 0, 0, 0.8),
    2px 6px 7px 0px rgba(0, 0, 0, 0.4),
    1px 1px 6px 1px transparent;
}

decoration:backdrop
{
    box-shadow:
    2px 2px 5px 2px transparent,
    2px 6px 7px 0px transparent,
    1px 1px 6px 1px rgba(0, 0, 0, 0.5);
}
